__pycache__/aporte.cpython-38.pyc
__pycache__/aporte.cpython-38.pyc
__pycache__/gerenciadorPlanilhas.cpython-38.pyc
__pycache__/pgAvulso.cpython-38.pyc
__pycache__/solicitacao_de_adiantamento.cpython-38.pyc
__pycache__/funcoes.cpython-38.pyc
__pycache__/gerenciadorPastas.cpython-38.pyc
__pycache__/gerenciadorPlanilhas.cpython-38.pyc
__pycache__/pgAvulso.cpython-38.pyc
__pycache__/prestacaoDeContas.cpython-38.pyc
__pycache__/solicitacao_de_adiantamento.cpython-38.pyc
__pycache__/solicitacao_de_pagamento.cpython-38.pyc
__pycache__/solicitacao_de_reembolso.cpython-38.pyc
main.py
__pycache__/funcoes.cpython-38.pyc
__pycache__/gerenciadorPastas.cpython-38.pyc
__pycache__/pgAvulso.cpython-38.pyc
__pycache__/prestacaoDeContas.cpython-38.pyc
__pycache__/solicitacao_de_pagamento.cpython-38.pyc
__pycache__/solicitacao_de_reembolso.cpython-38.pyc
main.py
teste.py
__pycache__/funcoes.cpython-38.pyc
__pycache__/gerenciadorPastas.cpython-38.pyc
__pycache__/pgAvulso.cpython-38.pyc
__pycache__/prestacaoDeContas.cpython-38.pyc
__pycache__/solicitacao_de_pagamento.cpython-38.pyc
__pycache__/solicitacao_de_reembolso.cpython-38.pyc
__pycache__/funcoes.cpython-38.pyc
aporte.py
__pycache__/funcoes.cpython-38.pyc
__pycache__/gerenciadorPastas.cpython-38.pyc
__pycache__/gerenciadorPlanilhas.cpython-38.pyc
__pycache__/pgAvulso.cpython-38.pyc
__pycache__/prestacaoDeContas.cpython-38.pyc
__pycache__/solicitacao_de_aporte.cpython-38.pyc
__pycache__/solicitacao_de_reembolso.cpython-38.pyc
.gitignore
